:root{
    --neutral: blue;
    --correct: green;
    --incorrect: red;
}

h1{

}

h2{
    
}

a{

}

p{

}

button{

}

nav{

}

.correct-btn{

}

.incorrect-btn{
    
}

.next-btn{

}

.question-btn{

}

.start-btn{
    
}

.timer{

}