:root{
    --neutral: blue;
    --correct: green;
    --incorrect: red;
}

h1{

}

h2{
    
}

h3{

}

a{

}

p{

}

li{

}

button{
    color: white;
}

nav{

}

.correct-btn{
    background-color: var(--neutral);
}

.correct-revealed{
    background-color: var(--correct);
}

.incorrect-btn{
    background-color: var(--neutral);
}

.incorrect-revealed{
    background-color: var(--incorrect);
}

.next-btn{
    background-color: var(--neutral);
}

.start-btn{
    background-color: var(--neutral);
}

.timer{

}